* {
    margin: 0;
    padding: 0;
    line-height: 1;
}
body {
    background-color: black;
    font-size: 15px;
    margin: 0 auto;
}
.logo {
    width: 50px;
    height: auto;
}
.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 1000;
}
.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 5%;
}
.header-left-container {
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    gap: 16px;

}
.header-left-container li {
    list-style: none;
}
.header-left-element a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 18px;
}
.header-left-element1 a {
    text-decoration: none;
    list-style: none;
    color: #0BEC12;
    font-size: 18px;
}
.portfolio {
    background-color: black;
    position: relative;
    padding: 90px 5%;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.portfolio-21 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px;
    width: 100%;
}
.title-21 {
    font-size: 1.6rem;
    color: white;
}

.title-20 a {
    text-decoration: none;
    color: white;
}
.title-20::after {
    content: ">";
    font-size: 1.4rem;
    color: white;
    margin-left: auto; 
}
.project-box {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    gap: 10px;
}
@keyframes up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2px);
    }
}

.portfolio-element {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 110px;
    background-color: #333333;
    border-radius: 10px;
    padding: 16px;
    margin: 0 0 16px;
    gap: 16px;
}

.portfolio-element:hover {
    transform: translateY(-2px); 
    animation: up 0.1s ease-in-out forwards;
}


@keyframes scale {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.02);
    }
    40% {
        transform: scale(1.04);
    }
    50% {
        transform: scale(1.05);
    }
    60% {
        transform: scale(1.06);
    }
    70% {
        transform: scale(1.08);
    }
    80% {
        transform: scale(1.09);
    }
    100% {
        transform: scale(1.1);
    }
}

.project-img {
    padding: 10px 20px;
    width: 118px;
    height: 96px;
    background-color: white;
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-element:hover .project-img img {
    animation: scale 0.8s ease-in-out forwards;
} 

.project-img img{
    width: 100%;
    border-radius: 6px;
}
.project-team {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-top: 20px;
}
.project-name {
    font-size: 22px;
    font-weight: 900;
    color: white;
}
.project-team li.leader {
    background-color: #2188b6;
    color: white;
}
.project-team li {
    border-radius: 5px;
    background-color: darkgray;
    padding: 6px 8px;
    font-size: 14px;
    height: 14px;
    line-height: 1;
}
.project-intro {
    margin: 0;
    color: #c6c6c6;
    line-height: 28px;
}
.hamburger {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@keyframes shrink {
    0% {
        width: 100%; 
    }
    30% {
        width: 80%; 
    }
    60% {
        width: 60%; 
    }
    100% {
        width: 50%; 
    }
}

.hamburger div {
    width: 20px;
    height: 2px;
    background-color: #c6c6c6;
}

.portfolio-element:hover .hamburger div:nth-child(1) {
    animation: shrink 0.5s ease-in-out forwards;
    transform-origin: left;
}
.portfolio-element:hover .hamburger div:nth-child(3) {
    animation: shrink 0.5s ease-in-out forwards;
    margin-left: auto;
}
.footer-top1{
    display: flex;
    height: 200px;
    background-color: #333333;

}
.footer-box1{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 100px;
    color:white;
    list-style: none;
}
.footer-box1 li {
    margin-top: 20px;
}

.footer-box2 {
    list-style: none;
    display: flex;
    color: white;
    align-items: center;
    flex: 1;
    justify-content: center;
    gap: 20px;
}
.home::after {
    color: #c6c6c6;
    margin-left: 20px;
    content: "|";
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #1d1d1d;
}
.letter {
    color: white;
}
@media (max-width: 1300px) {
    .portfolio-element {
        width: 90%; 
    }
}

@media (max-width: 650px) {
    .portfolio-element {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%; 
        height: 100%;
    }
    .project-img {
        width: min(64%, 225px);
        height: 157px;
    }
    .project-name {
        align-items: center;
    }
    .project-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
        gap: 10px;
    }
    .header-left-container {
        display: none;
    }
    .title-20 {
        width: 3%;
    }
    .footer-box2{
        display: none;
    }
    .footer-box1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .piro2 {
        margin-left: 70px;
    }

}