* {
    padding: 0;
    margin: 0;
}
html, body {
    margin: 0;
    padding: 0;
}
#top {
    min-width: 1340px;
    background-color: rgb(46, 45, 45);
    height: 780px;
}
.nav-container {
    margin: 0px 160px;
    display: flex;
    list-style: none;
}
#logo img {
    margin-top: 15px;
    padding: 6px;
    height: 32px;
    width: 32px;
}
.nav-item1 {
    width: 100px;
    margin-top: 5px;
    padding: 20px;
}
.nav-item1 a {
    text-align: center;
    text-decoration: none;
    color: white;
}
.nav-item {
    margin: 5px;
    padding: 20px;
}
.nav-item a {
    text-align: center;
    text-decoration: none;
    color: white;
}
#introduce {
    display: inline-block;
    width: 470px;
    height: 300px;
    margin: 100px 80px 100px 260px;
    padding: 57px;
}
#title {
    font-size: 4rem;
    color: white;
}
#contenttext {
    font-size: 20px;
    color: darkgray;
}
#openSource , #business{
    text-decoration: underline;
    text-decoration-color: darkgray;
    color: white;
}
#main {
    display: flex;
    justify-content: left;
}
#login {
    width: 470px;
    height: 560px;
    padding: 23px;
    background-color: white;
    border-radius: 5px;
}
#Username, #Email, #Password {
    border: 1.5px solid rgb(234, 229, 229); 
    margin-top: 10px;
    width: 450px;
    font-size: 18px;
    height: 57px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
#logintext {
    font-size: 14px;
    color: rgb(101, 100, 100);
}
#Learn {
    color: rgb(6, 149, 205);
}
#loginbutton {
    color: white;
    margin-top: 20px;
    width: 469px;
    height: 65px;
    background-color: #03c75a;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
#loginbutton:hover {
    cursor: pointer;
}
#textbottom {
    margin-top: 45px;
    color: rgba(112, 112, 112, 0.758);
    font-size: 14px;
}
#Terms {
    color: rgb(6, 149, 205);
}
#Statement {
    color: rgb(6, 149, 205);
}
#footerImg {
    margin: 25px 0px 0px 1070px;
    width: 530px;
    height: 230px;
}
#search-github {
    margin-top: 20px;
    margin-left: 120px;
    padding: 0px 10px;
    width: 230px;
    height: 35px;
    background-color: gray;
    border-radius: 5px;
}
#search-github::placeholder {
    color: white;
}
#top-head {
    display: flex;
}
.sign {
    display: flex;
    list-style: none;
}
#sign-item1 {
    width: 80px;
    margin-top: 15px;
    padding: 15px;
    cursor: pointer;
}
#sign-item1 a, #sign-item2 a {
    text-align: center;
    text-decoration: none;
    color: white;
}
#sign-item2 {
    width: 63px;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 3px 0px 0px 5px;
    border: 1px solid white;
    border-radius: 5px;
}
#search {
    display: flex;
}
#searchButton {
    margin: 29px -27px;
    background-color: gray;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 2px 7px;
}